<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @meas_final.customer_id %>
</p>

<p>
  <b>Neck:</b>
  <%= @meas_final.neck %>
</p>

<p>
  <b>Chest:</b>
  <%= @meas_final.chest %>
</p>

<p>
  <b>Waist:</b>
  <%= @meas_final.waist %>
</p>

<p>
  <b>Jacket length:</b>
  <%= @meas_final.jacket_length %>
</p>

<p>
  <b>Shoulder width:</b>
  <%= @meas_final.shoulder_width %>
</p>

<p>
  <b>Sleeve length:</b>
  <%= @meas_final.sleeve_length %>
</p>

<p>
  <b>Sleeve width:</b>
  <%= @meas_final.sleeve_width %>
</p>

<p>
  <b>Wrist:</b>
  <%= @meas_final.wrist %>
</p>

<p>
  <b>Hip:</b>
  <%= @meas_final.hip %>
</p>

<p>
  <b>Pants length:</b>
  <%= @meas_final.pants_length %>
</p>

<p>
  <b>Belt:</b>
  <%= @meas_final.belt %>
</p>

<p>
  <b>Thigh:</b>
  <%= @meas_final.thigh %>
</p>

<p>
  <b>Knee:</b>
  <%= @meas_final.knee %>
</p>

<p>
  <b>Crotch:</b>
  <%= @meas_final.crotch %>
</p>


<%= link_to 'Edit', edit_meas_final_path(@meas_final) %> |
<%= link_to 'Back', meas_finals_path %>
