<h1>Listing customizations</h1>

<table>
  <tr>
    <th>Product</th>
    <th>Customization</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customizations.each do |customization| %>
  <tr>
    <td><%= customization.product_id %></td>
    <td><%= customization.customization %></td>
    <td><%= link_to 'Show', customization %></td>
    <td><%= link_to 'Edit', edit_customization_path(customization) %></td>
    <td><%= link_to 'Destroy', customization, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customization', new_customization_path %>
