<p id="notice"><%= notice %></p>

<p>
  <b>Suit name:</b>
  <%= @suit.suit_name %>
</p>

<p>
  <b>Price:</b>
  <%= @suit.price %>
</p>

<p>
  <b>Lapel:</b>
  <%= @suit.lapel %>
</p>

<p>
  <b>Vent:</b>
  <%= @suit.vent %>
</p>

<p>
  <b>Button:</b>
  <%= @suit.button %>
</p>

<p>
  <b>Contrast color:</b>
  <%= @suit.contrast_color %>
</p>

<p>
  <b>Contrast area:</b>
  <%= @suit.contrast_area %>
</p>

<p>
  <b>Advanced:</b>
  <%= @suit.advanced %>
</p>

<p>
  <b>Pleats:</b>
  <%= @suit.pleats %>
</p>

<p>
  <b>Cuffs:</b>
  <%= @suit.cuffs %>
</p>

<p>
  <b>Quantity:</b>
  <%= @suit.quantity %>
</p>


<%= link_to 'Edit', edit_suit_path(@suit) %> |
<%= link_to 'Back', suits_path %>
