<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :height %>
    <%= f.input :weight %>
    <%= f.input :phonenumber %>
    <%= f.input :delivered %>
    <%= f.input :called %>

    <%= f.fields_for :meas_initial do |builder| %>
      <fieldset>
        <%= builder.label :neck_i, "Neck Initial" %>
        <%= builder.text_field :neck_i %>

        <%= builder.label :chest_i, "Chest Initial" %>
        <%= builder.text_field :chest_i %>
        <%= builder.label :waist_i, "Waist Initial" %>
        <%= builder.text_field :waist_i %>
        <%= builder.label :jacket_length_i, "Jacket Length Initial" %>
        <%= builder.text_field :jacket_length_i %>
        <%= builder.label :shoulder_width_i, "shoulder width Initial" %>
        <%= builder.text_field :shoulder_width_i %>
        <%= builder.label :sleeve_length_i, "Sleeve Length Initial" %>
        <%= builder.text_field :sleeve_length_i %>
        <%= builder.label :sleeve_width_i, "Sleeve Width Initial" %>
        <%= builder.text_field :sleeve_width_i %>
        <%= builder.label :wrist_i, "Wrist Initial" %>
        <%= builder.text_field :wrist_i %>
        <%= builder.label :hip_i, "Hip Initial" %>
        <%= builder.text_field :hip_i %>
        <%= builder.label :pants_length_i, "Pants Length Initial" %>
        <%= builder.text_field :pants_length_i %>
        
        <%= builder.label :belt_i, "Belt Initial" %>
        <%= builder.text_field :belt_i %>

        <%= builder.label :thigh_i, "Thigh Initial" %>
        <%= builder.text_field :thigh_i %>

        <%= builder.label :knee_i, "Knee Initial" %>
        <%= builder.text_field :knee_i %>

        <%= builder.label :crotch_i, "Crotch Initial" %>
        <%= builder.text_field :crotch_i %>
      </fieldset>
    <% end %>


  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
