<%= simple_form_for(@customer) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :email %>
    <%= f.input :height %>
    <%= f.input :weight %>
    <%= f.input :phonenumber %>
    <%= f.input :delivered %>
    <%= f.input :called %>

    <%= f.fields_for :meas_initial do |builder| %>
      <%= render 'meas_init_fields', f: builder %>
    <% end %>
  
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

