<p>
<b>Neck i:</b>
<%= @customer.meas_initial.neck_i %>
</p>

<p>
<b>Chest i:</b>
<%= @customer.meas_initial.chest_i %>
</p>

<p>
<b>Waist i:</b>
<%= @customer.meas_initial.waist_i %>
</p>

<p>
<b>Jacket length i:</b>
<%= @customer.meas_initial.jacket_length_i %>
</p>

<p>
<b>Shoulder width i:</b>
<%= @customer.meas_initial.shoulder_width_i %>
</p>

<p>
<b>Sleeve length i:</b>
<%= @customer.meas_initial.sleeve_length_i %>
</p>

<p>
<b>Sleeve width i:</b>
<%= @customer.meas_initial.sleeve_width_i %>
</p>

<p>
<b>Wrist i:</b>
<%= @customer.meas_initial.wrist_i %>
</p>

<p>
<b>Hip i:</b>
<%= @customer.meas_initial.hip_i %>
</p>

<p>
<b>Pants length i:</b>
<%= @customer.meas_initial.pants_length_i %>
</p>

<p>
<b>Belt i:</b>
<%= @customer.meas_initial.belt_i %>
</p>

<p>
<b>Thigh i:</b>
<%= @customer.meas_initial.thigh_i %>
</p>

<p>
<b>Knee i:</b>
<%= @customer.meas_initial.knee_i %>
</p>

<p>
<b>Crotch i:</b>
<%= @customer.meas_initial.crotch_i %>
</p>
