<h1>Customers List</h1>

<table class="table">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Phonenumber</th>
    <th>Delivered</th>
    <th>Called</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.id %></td>
    <td><%= customer.name %></td>
    <td><%= customer.address %></td>
    <td><%= customer.email %></td>
    <td><%= customer.height %></td>
    <td><%= customer.weight %></td>
    <td><%= customer.phonenumber %></td>
    <td><%= customer.delivered %></td>
    <td><%= customer.called %></td>
     

     <% if can? :update, @final_path %>   
     <td>
            <%= link_to 'Edit Final M', edit_meas_final_path(customer.id), class: 'btn btn-mini' %></td>
    <%end%>
    <td><%= link_to 'Show', customer, class: "btn btn-mini" %></td>
    <% if can? :update, @customer %>
    <td><%= link_to 'Edit', edit_customer_path(customer), class: "btn btn-mini btn-primary" %></td>
    <%end%>
    <% if can? :destroy, @customer %>
    <td><%= link_to 'Destroy', customer, confirm: 'Are you sure?', method: :delete, class: "btn btn-mini btn-danger" %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Customer', new_customer_path %>
