<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :customer_id %>
    <%= f.input :order_number %>
    <%= f.input :order_date %>
    <%= f.input :order_value %>
    <%= f.input :order_discount %>
    <%= f.input :order_cogs %>
    <%= f.input :order_gross %>  
    <%= f.input :status, collection: ["received measurements", "in process", "ready to ship", "shipped", "delivered"] %>
    <%= f.input :expected_ship_date %>
    <%= f.input :shipped_date %>
    <%= f.input :shipping_number %>
    <%= f.input :called %>
    <%= f.input :altered %>
    <%= f.input :refunded %>
    <%= f.input :alt_ref_cost %>

    <%= f.fields_for :shirts do |builder| %>
    <%= render 'shirt_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Shirt", f, :shirts %>

    <%= f.fields_for :suits do |builder| %>
    <%= render 'suit_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Suit", f, :suits %>

  <%= f.fields_for :pants do |builder| %>
    <%= render 'pant_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Pant", f, :pants %>
  </div>

    <%= f.fields_for :others do |builder| %>
    <%= render 'other_fields', f: builder %>
    <% end %>
    <%= link_to_add_fields "Add Other", f, :others %>
  </div>
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
