<li>
  <b>pant Name:</b> 
  <%=h f.pant_name %> 
</li>
<li>
<b>Quantity:</b> 
  <%=h f.quantity %>
</li>
<li>
<b>price:</b> 
  <%=h f.price %>
</li>

<li>
<b>pant Pleats:</b> 
  <%=h f.pleats %>
</li>
<li>
<b>pant cuffs:</b> 
  <%=h f.cuffs %>
</li>