<li>
  <b>Suit Name:</b> 
  <%=h f.suit_name %> 
</li>
<li>
<b>price:</b> 
  <%=h f.price %>
</li>
<li>
<b>Quantity:</b> 
  <%=h f.quantity %>
</li>
<li>
<b>suit Lapel:</b> 
  <%=h f.lapel %>
</li>
<li>
<b>suit Vents:</b> 
  <%=h f.vent %>
</li>
<li>
<b>suit button:</b> 
  <%=h f.button %>
</li>
<li>
<b>suit contrast color:</b> 
  <%=h f.contrast_color %>
</li>
<li>
<b>suit contrast_area:</b> 
  <%=h f.contrast_area %>
</li>
<li>
<b>suit Advanced:</b> 
  <%=h f.advanced %>
</li>

<li>
<b>suit Pleats:</b> 
  <%=h f.pleats %>
</li>
<li>
<b>suit cuffs:</b> 
  <%=h f.cuffs %>
</li>