<li>
  <b>Shirt Name:</b> 
  <%=h f.shirt_name %> 
</li>

<li>
<b>price:</b> 
  <%=h f.price %>
</li>
<li>
<b>Quantity:</b> 
  <%=h f.quantity %>
</li>
<li>
<b>Shirt Collar:</b> 
  <%=h f.collar %>
</li>
<li>
<b>Shirt Cuffs:</b> 
  <%=h f.cuffs %>
</li>
<li>
<b>Shirt placket:</b> 
  <%=h f.placket %>
</li>
<li>
<b>Shirt Fit:</b> 
  <%=h f.fit %>
</li>
<li>
<b>contrast color:</b> 
  <%=h f.contrast_color %>
</li>
<li>
<b>Shirt contrast_area:</b> 
  <%=h f.contrast_area %>
</li>
<li>
<b>Shirt Monogram:</b> 
  <%=h f.monongram %>
</li>
