
<p>FINAL MEASUREMENTS<p>
<p>
<b>Neck:</b>
<%= @order.customer.meas_final.neck %>
</p>

<p>
<b>Chest:</b>
<%= @order.customer.meas_final.chest %>
</p>

<p>
<b>Waist:</b>
<%= @order.customer.meas_final.waist %>
</p>

<p>
<b>Jacket length:</b>
<%= @order.customer.meas_final.jacket_length %>
</p>

<p>
<b>Shoulder width:</b>
<%= @order.customer.meas_final.shoulder_width %>
</p>

<p>
<b>Sleeve length:</b>
<%= @order.customer.meas_final.sleeve_length %>
</p>

<p>
<b>Sleeve width:</b>
<%= @order.customer.meas_final.sleeve_width %>
</p>

<p>
<b>Wrist:</b>
<%= @order.customer.meas_final.wrist %>
</p>

<p>
<b>Hip:</b>
<%= @order.customer.meas_final.hip %>
</p>

<p>
<b>Pants length:</b>
<%= @order.customer.meas_final.pants_length %>
</p>

<p>
<b>Belt:</b>
<%= @order.customer.meas_final.belt %>
</p>

<p>
<b>Thigh:</b>
<%= @order.customer.meas_final.thigh %>
</p>

<p>
<b>Knee:</b>
<%= @order.customer.meas_final.knee %>
</p>

<p>
<b>Crotch:</b>
<%= @order.customer.meas_final.crotch %>
</p>