<p id="notice"><%= notice %></p>

<p>
  <b>Shirt name:</b>
  <%= @shirt.shirt_name %>
</p>

<p>
  <b>Price:</b>
  <%= @shirt.price %>
</p>

<p>
  <b>Collar:</b>
  <%= @shirt.collar %>
</p>

<p>
  <b>Cuffs:</b>
  <%= @shirt.cuffs %>
</p>

<p>
  <b>Placket:</b>
  <%= @shirt.placket %>
</p>

<p>
  <b>Pocket:</b>
  <%= @shirt.pocket %>
</p>

<p>
  <b>Fit:</b>
  <%= @shirt.fit %>
</p>

<p>
  <b>Bottom:</b>
  <%= @shirt.bottom %>
</p>

<p>
  <b>Contrast color:</b>
  <%= @shirt.contrast_color %>
</p>

<p>
  <b>Contrast area:</b>
  <%= @shirt.contrast_area %>
</p>

<p>
  <b>Monongram:</b>
  <%= @shirt.monongram %>
</p>

<p>
  <b>Quantity:</b>
  <%= @shirt.quantity %>
</p>


<%= link_to 'Edit', edit_shirt_path(@shirt) %> |
<%= link_to 'Back', shirts_path %>
